/* https://fonts.google.com/specimen/Dosis?sort=popularity&sidebar.open&selection.family=Dosis:wght@200;300;400;500;600;700;800|Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800 */
/* https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462435_960_720.jpg */
html > body {
    background: url("/assets/img/background.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', sans-serif;

}

/* Nav bar styling */

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.active-nav-text {
    color: #d6b14b;
}

.logo-color {
    color: #d69f06;
}

/* Main Content */

.progress {
    background-color:#272129 ;
    border: 1px solid #f5ff8e;
    
}

.progress-bar {
    background-color: #f5ff8e;
    opacity: 90%;
    color: #272129;
}

.profile-photo {
    max-width: 210px;
    border-radius: 50%;
    border: solid 5px rgba(90, 28, 3, 0.623);
    border-style: solid;
}

.profile-photo-bg {
    max-width: 50%;
    border-radius: 50%;
}

.top-div-margin {
    margin-top: 95px;
}

.profile-margin {
    margin-bottom: 30px;
}

.bottom-div-margin {
    margin-bottom: 75px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0);
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    opacity: 80%;
    margin-bottom: 20px;
}

.card-body {
    min-width: 75%;
    max-width: 75%;
    align-self: center;
}

.card-body-skills {
    min-width: 75%;
    max-width: 75%;
    align-self: center;
    padding: none;
    opacity: 80%;
}

.heading-three-seperator {
    color: #752702;
    margin-bottom: 40px;
}

.heading-four-seperator {
    color: #eebd52;
    margin-bottom: 40px;
}

.skills-card-padding {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.main-content-section {
    color: #f0e6cd;
}

.hr-seperater-main {
    border: solid rgba(148, 45, 4, 0.3);
    max-width: 50%;
    margin-top: 55px;
    
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #212529;
    border: none;
}

.list-item-index-styling {
    margin-top: 0.0rem;
}

/* Footer Styling */
.icon-style {
    color: #edcf7b;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

i:hover {
    color: #d69f06;
}
