/* https://fonts.google.com/specimen/Dosis?sort=popularity&sidebar.open&selection.family=Dosis:wght@200;300;400;500;600;700;800|Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800 */

/* html > body selector to implement background image - credit for background image https://pixabay.com/ */
html > body {
    background: url("https://raw.githubusercontent.com/fransai/portfolio/master/assets/img/background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
}

/************************** Nav bar styling ***************************/

/* Remove left and right padding */
.no-padding {
    padding-left: 0;
    padding-right: 0;
}

/* Active link color*/
.active-nav-text {
    color: #d6b14b;
}

/* Custom logo text color */
.logo-color {
    color: #d69f06;
}

/*************************** Main Content ***************************/

/* Custom progress class styling */
.progress {
    background-color:#272129 ;
    border: 1px solid #f5ff8e; 
}

/* Custom progress bar styling */
.progress-bar {
    background-color: #f5ff8e;
    opacity: 90%;
    color: #272129;
}

/* Profile photo styling */
.profile-photo {
    max-width: 210px;
    border-radius: 50%;
    border: solid 5px rgba(90, 28, 3, 0.623);
    border-style: solid;
}

/* Profile photo background styling */
.profile-photo-bg {
    max-width: 50%;
    border-radius: 50%;
}

/* Top margin for uppermost div */
.top-div-margin {
    margin-top: 95px;
}

/* Profile Photo bottom margin */
.profile-margin {
    margin-bottom: 30px;
}

/* Bottom most div margin */
.bottom-div-margin {
    margin-bottom: 75px;
}

/* Custom bootstrap card styling */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0);
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    opacity: 80%;
    margin-bottom: 20px;
}

/* Custom bootstrap card body styling */
.card-body {
    min-width: 75%;
    max-width: 75%;
    align-self: center;
}

/* Styling for card body for skills page */
.card-body-skills {
    min-width: 75%;
    max-width: 75%;
    align-self: center;
    padding: 0;
    opacity: 80%;
}

/* Margin below H3 element */
.heading-three-seperator {
    color: #752702;
    margin-bottom: 40px;
}

/* Margin below H4 element */
.heading-four-seperator {
    color: #eebd52;
    margin-bottom: 40px;
}

/* Margin below H4 element */
.skills-card-padding {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

/* General text color for body of html */
.main-content-section {
    color: #f0e6cd;
}

/* Custom stling for <hr> tag */
.hr-seperater-main {
    border: solid rgba(148, 45, 4, 0.3);
    max-width: 50%;
    margin-top: 55px;
}

/* Custom stling for <hr> tag on experience page*/
.hr-seperater-main-exp {
    border: solid #eebd52;
    max-width: 50%;
    margin-top: 55px;
}

/* Custom styling for <li> of <ul> tags */
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #212529;
    border: 1px solid;
}

/* Custom H6 styling */
h6 {
    font-family: 'Dosis', sans-serif;
}

/* blog article content padding */
.article-padding {
    padding-left: 15px;
    padding-right: 15px;
}

/*************************** Footer Styling ***************************/


.icon-style {
    color: #edcf7b;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon-style-large {
    color: #edcf7b;
    font-size: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Hover animation on icons */
i:hover {
    color: #d69f06;
}
